/* stylelint-disable selector-list-comma-newline-after */

body{
  background: #eee;
  overflow-x: hidden;
}
header{background: #fff;}
.navbar-small{height: 40px;}
.header-content div{text-align: center; padding: 20px; vertical-align: middle;}
.owl-carousel .item h4{color: #373a3c;}
.owl-carousel .item p{color: #373a3c;}
.owl-carousel .item{
	height: 50vh;
	width: 100vw;
	margin: 0px;
	background-position: right center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.owl-carousel .item .content{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	height: 50vh;
	background: #fff;  
	padding: 10vh 0 0 10vw;
}

.img-responsive{width: 100%;}

.block-blog{margin-bottom: 20px;background: #fff;}
.blog-content{padding: 20px}
footer{background: #fff; text-align: center; margin-top: 50px; margin-bottom: 0px; padding: 20px;}

@media(max-width: 768px){.owl-carousel{display:none;}}
@media(min-width: 769px){.owl-carousel{display:inline-block;}}
